# don't track (large) data files
data/*
*.out
*.log
*.gf
*.ods
.Rhistory
*.gz
*.png
*.pdf
*/results/
*/logs/
*/metrics/
bee_samples_listed/
*/test/
*.html
filtered_bams/fastQC/
filtered_bams/fastQ_screen/
filtered_bams/merged/
geno_lik_and_SNPs/coverage/
*/Amel4.5_*
*/plots/
clines/wc*
