# don't track (large) data files
data/*
*/old/*
old_files/*
*/old_files/*
*/old_scripts/*
backup/
pos_snps
*.out
*.log
*.gf
*.ods
.Rhistory
*.gz
*.png
*.pdf
*/results/
*/logs/
*/metrics/
bee_samples_listed/
*/test/
*.html
filtered_bams/fastQC/
filtered_bams/fastQ_screen/
filtered_bams/merged/
geno_lik_and_SNPs/coverage/
*/Amel4.5_*
*/*_Amel4.5/
*/plots/
clines/wc*
wing_analysis/best_wing_pics_1.26.20_EC
# wing data from oberursel
wing_analysis/reference_samples_scut_car_lig_iber_mell.csv
